.App {
  text-align: center;
  background-color: #5caac4;
  color: white;
  height: 100%;
  padding-top: 8rem;
}
.appName {
  font-size: 2rem;
}
.centerChildren {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
}


