.App {
  text-align: center;
  color: white;
  height: 100%;
  padding-top: 6rem;
}
.appName {
  font-size: 2rem;
}
.centerChildren {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
}


